.card{

    display: flex;

    flex-direction: column;

    align-items: center;
}

.card strong{

    font-size: var(--font-size-md);
    margin: 10px;
}

.card button{

    border: 0;

    width: 100px;
    padding: 5px;
    margin-top: 5px;

    font-size: var(--font-size-small);

    color: #fff;
    background-color: var(--bg-button);

    cursor: pointer;

}

.card  button:hover{

    background-color: #4cd62a;
    transition: 0.4s;
}
