section{

    width: 100vw;
    height: 56vh;

    background-image: url(/assets/images/manda-alo.png);

    position: relative;
    
}

section h1{

    width: 420px;

    color: #fff;
    font-size: var(--font-size-large);

    position: absolute;

    top: 10%;
    left: 10%;
}


main{

    margin: 80px 0px;
    height: 100%;

    display: flex;

    width: 100vw;

    justify-content: center;
}

main img{

    height: 600px;
}

form{

    justify-content: space-around;

    display: flex;
    flex-direction: column;

    height: 600px;
    width: 800px;

    border: 1px solid var(--dark-primary-color);
    border-radius: 20px;

    margin-left: 16px;
    padding-left: 5%;
}

form input:focus{

    box-shadow: 0px 2px 2px  var(--dark-primary-color);

}

form input{

    width: 90%;

    padding: 12px;

    border-radius: 8px;

    border: 1px solid var(--dark-primary-color);
    outline: none;

    
}

form h2{

    color: var(--dark-primary-color);
    font-size: 40px;
}

textarea{

    width: 90%;
    height: 50%;
    
    resize: none;

    padding: 12px;

    border: 1px solid var(--dark-primary-color);
    border-radius: 8px;
    outline: none;
}

form textarea:focus{

    box-shadow: 0px 2px 2px  var(--dark-primary-color);
}

button{

    width: 164px;

    padding: 13px;

    border-radius: 50px;
    border: 0px;
    color: #fff;
    background-color: var(--dark-primary-color);

    cursor: pointer;
}

button:hover{

    transition: 0.5s;

    background-color:var(--acent-color);
}
